<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/demo.css">
</head>
<body>
<div class="container">
    <h1>About Us</h1>
    <hr>
    <h2>Welcome to American PC Distributors – Your Gateway to Cutting-Edge Computing Solutions!</h2>
    <p>
        <br />
        At American PC Distributors, we pride ourselves on being at the forefront of the ever-evolving world of technology. As a premier provider of top-tier computers and computer parts, we are dedicated to supplying our customers with the latest and most innovative solutions to meet their computing needs.
        <br />
        <br />
        With a commitment to excellence, we source and distribute a comprehensive range of computers, and an extensive selection of high-quality computer parts and accessories. Our catalog spans from powerful processors and graphics cards to reliable storage solutions and peripherals, ensuring that our customers have access to the building blocks of a seamless and efficient computing experience.
        <br />
        <br />
        What sets us apart is our unwavering dedication to customer satisfaction. Our team of knowledgeable experts is here to guide you through the vast landscape of technology, helping you make informed decisions that align with your unique requirements. Whether you're a tech enthusiast, a business professional, or a casual user, we have the right products to elevate your computing experience.
        <br />
        <br />
        We understand that the world of computers is dynamic, and that's why we stay ahead of the curve, constantly updating our inventory to feature the latest advancements in technology. At American PC Distributors, you're not just purchasing products; you're investing in a future where your computing needs are met with precision and reliability.
        <br />
        <br />
        Join us on the journey of technological excellence. Explore our extensive range, and let American PC Distributors be your trusted partner in the world of computers and computing accessories. Elevate your experience, enhance your efficiency – choose American PC Distributors for all your computing needs.
    </p>
    <br><br>
    <a th:href="@{/mainscreen}" class="btn btn-primary btn-sm mb-3">Link to Main Screen</a>
</div>
</body>
</html>